:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

strong {
  margin-left: 4px;
}

/* .imageGrid {
  display: grid;
  grid-template-columns: repeat(20, auto);
} */

/* @media (max-width: 900px) {
  .imageGrid {
    grid-template-columns: repeat(10, auto);
  }
} */

.imageGrid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  width: 100%;
}

.imageGrid img {
  width: 100%;
  height: auto;
}
